@import url('base.css');

a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* 헤더 */
/* 로고 */
header>img {
    width: 45px;
    height: 45px;
    display: inline-block;
    float: left;
    margin-top: 5px;
    margin-left: 13px;
}

/* nav바 */
nav {
    width: 590px;
    display: inline-block;
    background-color: rgb(246, 245, 239);
    margin-left: 37px;
    padding-bottom: 25px;
    padding-right: 25px;
}

/* nav바 메뉴 */
nav>ul>li {
    float: left;
    list-style-type: none;
    /*ul요소의 점 제거*/
    text-align: left;
    margin-left: 10px;
    margin-right: 20px;

}

/* nav바 호버 */
nav>ul>li>a:hover {
    color: rgb(102, 153, 0);
    font-weight: bold;
    text-decoration: underline;
}

nav>ul>li>img.profile {
    width: 100px;
}